:root {
    --primary-color: #030304;
    --secondary-color: #cdf7cd;
    --accent-color: #FFC857;
    --text-color: #333333;
    --font-stack: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-stack);
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#board {
    width: 50vw; 
    height: 50vw;
 

h1 {
    color: var(--primary-color);
    margin-top: 20px;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

nav a:hover {
    color: var(--accent-color);
}

/* Add more styles as needed */

@media (min-width: 600px) {
    /* Adjustments for larger screens */
}
